/* COMMON */


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0;
    max-width: 1150px;
}

.cta-button {
    width: 180px;
    color: white;
    background-color: #76E58D;
    border: none;
    font-size: 1.5rem;
    padding: 0.6rem 0.4rem;
    border-radius: 10px;
    text-align: center;
}

.cta-button--sec {
    background-color: #3CBDEB;
}



/* END OF COMMON */

/* NAVIGATION */
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    z-index: 9999;

}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.nav__logo-container {
    width: 100px;
    height: 30px;
}

.nav__logo {

    background-image: url(./images/logo.svg);
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav__links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.nav__link {
    height: 30px;
    min-width: 100px;
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.nav__link-item {}

/* END OF NAVIGATION */

/* HERO */

.hero {
    width: 100%;
    height: 710px;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__cta-msg {
    color: white;
    flex-basis: 40%;
}

.hero__cta-header {
    font-size: 2.5rem;
}

.hero__cta-text {
    line-height: 1.4;
    font-size: 1.3rem;
    margin-right: 40%;
    font-weight: 200;
}

.cta-button--hero {
    font-size: 1rem;
    padding: 1rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.hero__img-container {
    flex-basis: 45%;
}

.hero_cta-msg .hero__img-container {
    flex-basis: 50%;
}

.hero__img {
    width: 100%;
    height: 360px;
    background-image: url(./images/screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid white;
    border-radius: 30px;
    transform: rotate(-6deg);
    background-color: white;
    box-sizing: border-box;
}



/* END OF HERO */


/* FEATURES */
.features {
    width: 100%;
    height: 520px;
    background-color: black;
    color: white;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.features__header {
    text-transform: uppercase;
    margin-top: -60px;
    font-size: 2rem;
}

.feature__items {
    display: flex;
    justify-content: center;
}

.feature__item {
    flex-basis: 20%;
    margin: 0 30px;
}

.feature__item-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

.feature__item-icon--ad1 {
    background-image: url(./images/responsive.svg);
}

.feature__item-icon--ad2 {
    background-image: url(./images/customizable.svg);
}

.feature__item-icon--ad3 {
    background-image: url(./images/design.svg);
}

.feature__item-header {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.feature__item-text {
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}


/* END OF FEATURES */

/* BANNER */

.banner {
    width: 100%;
    height: 90px;
    background-color: #F9FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 100%;
    height: 30px;
    background-image: url(./images/logos.png);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

/* END OF BANNER */

/* END OF MAC-SECTION */
.mac-section {
    width: 100%;
    height: 680px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.mac-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mac__img {
    flex-basis: 50%;
    width: 100%;
    height: 550px;
    background-image: url(./images/imac.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;

}

.mac__text {
    flex-basis: 35%;
    align-self: flex-start;
    font-weight: 200;
}

.mac__text-header {
    text-transform: uppercase;
    font-size: 2rem;
}

.mac__text-body {
    padding-right: 30%;
    line-height: 2;
}


/* END OF MAC-SECTION */

/* PAYMENT */

.payments {
    width: 100%;
    height: 750px;
    background-color: #F8F9F9;
    color: black;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.payments__header {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.payments__subheader {
    text-align: center;
}

.payment__items {
    display: flex;
    justify-content: center;
}

.payment__item {
    width: 330px;
    margin: 0 10px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
}

.payment__item--middle {
    background-color: #F8F9F9;
    border-radius: 5px;
    box-shadow: 0px 0px 55px 7px rgba(0, 0, 0, 0.1);
}

.payment__item-header {
    text-align: center;
}

.payment__item-tier {
    text-transform: uppercase;
    font-size: 1rem;
}

.payment__item-price {
    font-weight: 700;
    font-size: 2.7rem;
    margin: 0;
}

.payment__item-text {
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}

.payment__item-month {
    font-size: 0.8rem;
    margin: 0.2rem;
}

.payments li::marker {
    color: green;
    content: "✓  ";
}

.payment_item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-button--trd {
    font-size: 0.9rem;
    width: 160px;
    padding: 0.9rem 0;
    background-color: #3CBDEB;
}

/* END OF PAYMENT */

/* TEAM */

.team {
    width: 100%;
    height: 685px;
    background-color: white;
    color: black;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.team__header {
    text-transform: uppercase;
    font-size: 2rem;
}

.team__items {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.team__item {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__item-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px;
    border-radius: 50%;
    margin: 0 auto;
}

.team__item-icon--ad1 {
    background-image: url(./images/cto.png);
}

.team__item-icon--ad2 {
    background-image: url(./images/ceo.png);
}

.team__item-icon--ad3 {
    background-image: url(./images/cfo.png);
}

.team__item-header {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.team__item-text {
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
}

.team__item-name {
    text-align: center;
    font-size: 0.9rem;
    margin: 0 0 10px;
    font-weight: 700;
}



.sm__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
}

.sm__icon-container {
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.sm__icon-container--tt {
    background-image: url(./images/team-twitter.svg);
}

.sm__icon-container--fb {
    background-image: url(./images/team-facebook.svg);
}


/* END OF TEAM */