/* COMMON */


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0;
    max-width: 1150px;
}

.cta-button {
    width: 180px;
    color: white;
    background-color: #76E58D;
    border: none;
    font-size: 1.5rem;
    padding: 0.6rem 0.4rem;
    border-radius: 10px;
    text-align: center;
}

.cta-button--sec {}

/* END OF COMMON */

/* NAVIGATION */
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 20px;

}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.nav__logo-container {
    width: 100px;
    height: 30px;
}

.nav__logo {

    background-image: url(./images/logo.svg);
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav__links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.nav__link {
    height: 30px;
    min-width: 100px;
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.nav__link-item {}

/* END OF NAVIGATION */

/* HERO */

.hero {
    width: 100%;
    height: 710px;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__cta-msg {
    color: white;
    flex-basis: 40%;
}

.hero__cta-header {
    font-size: 2.5rem;
}

.hero__cta-text {
    line-height: 1.4;
    font-size: 1.3rem;
    margin-right: 40%;
}

.cta-button--hero {
    font-size: 1rem;
    padding: 1rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.hero__img-container {
    flex-basis: 45%;
}

.hero_cta-msg .hero__img-container {
    flex-basis: 50%;
}

.hero__img {
    width: 100%;
    height: 360px;
    background-image: url(./images/screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid white;
    border-radius: 30px;
    transform: rotate(-6deg);
    background-color: white;
    box-sizing: border-box;
}



/* END OF HERO */